# Watcom IDE
/*.mk
/targets/*
!/targets/*.tgt

# Automation tools
/tools/images/

# Visual Studio
/*.suo
/*.user
/*.opensdf
/*.sdf
/[Dd]ebug/
/[Rr]elease/
/.vs/
/*.VC.opendb
/*.VC.db

# CLion
/.idea/workspace.xml
/cmake-build-*/
